.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1{
  margin-bottom: 25px;
}

.card{
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-body{
  padding-bottom: 0px;
}

li{
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #ededed;
}

li:last-child{
  border-bottom: none;
}

label{
  margin: 0;
}

.checkbox{
  width: 25px;
}

.edit{
  margin: 0 8px 0 auto;
}

.edit, .trash{
  cursor: pointer;
  color: #0275d8;
}

.edit:hover, .trash:hover{
  color: #0069D9;
}

